.form-container {
  width: 100%;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.form-group {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
  display: grid;
}

.form-label {
  position: absolute;
  font-size: 1.2rem;
  font-weight: 600;
  top: 2rem;
  transition: all 0.3s ease-in-out;
  pointer-events: none; /* Ensures the label doesn't interfere with input focus */
}

.form-input {
  width: 100%;
  height: 2rem;
  max-height: 6rem;
  font-size: 1.2rem;
  font-family: "Manrope", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", Oxygen, Ubuntu, Cantarell,
    "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  border: none;
  margin-top: 2rem;
  padding-bottom: 0.2rem;
  border-bottom: 1.5px solid black;
  overflow-y: hidden;
}
.form-input[textarea] {
  height: 4rem;
}

.form-input:focus {
  outline: none;
  border: none;
  border-bottom: 1.5px solid gray;
}

/* Style for active state */
.form-group.active .form-label {
  top: 0.7rem;
  font-size: 0.8rem;
}
.error-message {
  color: red;
  font-size: 0.65rem;
  margin-top: 0.25px;
  display: flex;
  justify-self: flex-end;
  position: absolute;
  bottom: -0.8rem;
}

.custom-toast-body {
  font-family: "Manrope";
  font-size: 1rem;
}

@media screen and (max-width: 650px) {
  .form-container {
    padding: 0;
  }
}
