.custom-cursor {
  position: fixed;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  /* background-color: var(--theme-color); */
  pointer-events: none;
  backdrop-filter: invert(100%);
  opacity: 0.9;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.01);
  transition: width 0.3s, height 0.3s ease;
  z-index: 10000;
}

.custom-cursor.hover {
  width: 70px;
  height: 70px;
  transform: translate(-40%, -40%);
}

.custom-cursor.clicked {
  width: 15px; /* Adjust as needed */
  height: 15px; /* Adjust as needed */
  transition: width 0.3s, height 0.3s ease;
}
