.get-in-touch-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  /* color: white; */
  padding: 2rem 5rem;
}
.get-in-touch-container > div {
  width: 50%;
  padding: 3rem;
}
.get-in-touch-image {
  width: 100%;
}
@media screen and (max-width: 550px) {
  .get-in-touch-container {
    flex-direction: column;
    padding: 2rem;
  }
  .get-in-touch-container > div {
    width: 100%;
    padding: 0;
  }
}
