/* Menu.css */
.menu {
  display: flex;
  width: 3rem;
  aspect-ratio: 1;
  align-items: center;
  justify-content: center;
}

.menu-toggle {
  align-self: center;
  cursor: pointer;
  z-index: 2;
}

.menu-toggle.active {
  background-color: transparent;
}
.menu-drawer {
  position: fixed;
  display: flex;
  justify-content: flex-end;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
  transition: top 0.3s ease;
  z-index: 1;
}

.menu-drawer.open {
  top: 0;
}

.menu-drawer ul {
  list-style-type: none;
  padding: 0;
  margin: 50px 0 0 20px;
}

.list-items-container {
  position: absolute;
  width: 45%;
  top: 4vh;
}
.menu-drawer li .list-item {
  text-decoration: none;
  margin-bottom: 20px;
  color: black;
  font-size: 3rem;
  line-height: 5rem;
}

.hamburger-menu {
  width: 3rem;
  height: 1.2rem;
  /* aspect-ratio: 1; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  /* gap: 5px; */
  /* gap: 0.312rem; */
}

.list-item:hover {
  /* text-shadow: rgba(255, 255, 255, 0.4) 0px 5px, rgba(255, 255, 255, 0.3) 0px 10px, rgba(255, 255, 255, 0.2) 0px 15px,
    rgba(255, 255, 255, 0.1) 0px 20px, rgba(255, 255, 255, 0.05) 0px 25px; */
  text-shadow: 3px 0px 9px rgb(149, 127, 127);
}

.bar {
  width: 2.5rem;
  height: 0.18rem;
  background-color: black;
  transition: transform 0.3s ease;
}

.hamburger-menu.active {
  position: relative;
  left: 0.43rem;
}

.hamburger-menu.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(0.75rem);
}

.hamburger-menu.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger-menu.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-0.75rem);
}

@media screen and (max-width: 600px) {
  .menu-drawer {
    justify-content: flex-start;
  }
  .list-items-container {
    position: absolute;
    width: 100%;
    top: 4vh;
    left: 10vw;
  }
}
